* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}


body {
	background-color: #fefcf6;
	width: 100%;
	height: auto;
}

#bgimg {
	height: 300px;
	weight: 300px;
}

#header1 {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	padding-bottom: 5%;
}

#img_welc {
	padding-top: 5%;
	height: 100%;
	padding-bottom: 7%;
}

#img1 {

}

#img1 > img {
	border-radius: 15%;
	box-shadow: 2px 2px 2px;
	max-height: 100%;
	max-width: 100%;
}

#welcome1 {
	padding-top: 7%;
	text-align: justify;
}

#welcome1 > h2 {
	text-shadow: 2px 2px #ADADAD;
	font-family: 'Passion One', cursive;
}

#welcome1 > p {
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.highlight1 {
	color: #e8b323;
}

/*navbar============================================================*/
nav {
	padding: 0;
}

#nav_options {
	background-color: #2A2D34;
}

#nav_options img {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50px;
	border: 5px inset;
	border-color: lightgray;
}

a.titlenav {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-family: 'Passion One', cursive;
	font-size: 20px;
	padding-right: 15px;
}

a.subnav {
	padding: 0;
	color: #F8F7F9;
	font-family: 'Signika', sans-serif;
	font-size: 15px;
}

a.subnav:hover {
	color: #e8b323;
	border: none;
}


/*body =================================================*/
.div_headers {
	color: #2A2D34;
}

#about {
	color: #fefcf6;
	height: 100%;
	padding: 2%;
	height: 100%;
}

#about_div {
	background-color: #2A2D34;
	border-radius: 25px;
	padding: 5%;
	height: 100%;
}

#about img {
	border: 3px solid;
	border-color: #fefcf6;
}

#about h2 {
	font-size: 5vh;
	font-family: 'Signika', sans-serif;
}

#about h4 {
	font-size: 3vh;
	color: #e8b323;
	font-family: 'Signika', sans-serif;
}

#about #abt_details {
*/	font-size: 3vh;
	padding-top: 8%;
	font-family: 'Lato', sans-serif;
	
}

#about p {
	font-family: 'Lato', sans-serif;
}

#about #about2 {
	width: 100%;
	padding: 5%;
}

#about #about1 {

}

#about #about3 {
	width: 50%;
	height: 50%;
	/*padding-top: 10%;*/
	padding-top: 5%;
	/*padding-bottom: 10%;*/
}


/*tools ====================================================*/
#tools {
	color: #fefcf6;
	height: 100%;
	padding: 2%;
}

#tools_div {
	background-color: #2A2D34;
	border-radius: 25px;
	padding: 5%;
	height: 100%;
}

#tools h4 {
	font-family: 'Signika', sans-serif;
}

/*contact ====================================================*/
#contact {
	color: #fefcf6;
	height: 100%;
	padding: 2%;
}

#contact_div {
	background-color: #2A2D34;
	border-radius: 25px;
	padding: 5%;
	height: 100%;
	font-family: 'Signika', sans-serif;
}

/*Footer ==============================================*/
#footer1 {
	width: 100%;
	height: 10vh;
	background-color: #E9E9E9;
	color: #2A2D34;
	text-align: center;
}

#footer1 img {
	width: 25px;
	height: 25px;
}
